.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px 35px;
    border-radius: 10px;
    width: 50%;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-box {
    margin-bottom: 16px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 250px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.label {
    display: block;
    font-weight: bold;
    margin-right: 20px
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
