.user-container {
    display: flex;
    background-color: white;
    height: 600px;
    width: 800px;
    flex-direction: column;
    align-items: center;
}

.search-container {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.header {
    text-transform: uppercase;
    font-weight: bold;
}
