.signup-input {
  margin: 10px 0px !important;
}

.dialog {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px 35px;
  border-radius: 10px;
  width: 300px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dialog-header {
  color: #2d842d;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.input-dialog {
  display: flex;
  flex-direction: column;
}

.anonymous-input {
  margin-left: -10px !important;
}
